.image-bar
  .box
    input#file.hiddenInput(type="file", (change)="loadFile($event)")
    label.imageBox.placeholder(#dropZone,
        [class.hover]='hover',
        (drop)='onDrop($event)',
        (dragover)='onDragOver($event)',
        (dragenter)='onDragEnter($event)',
        (dragleave)='onDragExit($event)',
        (dragexit)='onDragExit($event)',
        for='file'
      )
      .add +
      .text drag image here
      .loadingContainer([hidden]='!loading')
        .loading
          .content
            md-progress-circle(mode='indeterminate')
              | Loading, please wait!

    .imageBox(*ngFor='let image of images',
      [ngClass]='{currentImage: currentImage && currentImage._id == image._id }',
      tooltip='{{image.name}}', tooltipAppendToBody='true'
    )
      sliced-image.thumbnail((click)='setBoardImage(image)', [image]='image', [thumbnail]='true')
      .text
        .name
          .nameHelper(*ngIf='!editImage', (click)='setEditName(imageEdit)') {{ image.name }}
          input.input.imageNameInput(#imageEdit, [hidden]='!editImage', [(ngModel)]='image.name', (blur)='saveImage(image)')
          md-icon.editIcon(*ngIf='!editImage', (click)='editImage = true') edit
        md-icon.deleteIcon((click)='deleteImage(image)') delete

